@tailwind base;
@tailwind components;
@tailwind utilities;

.navList{
    padding: 5px 15px;
    border: 2px white;
    border-radius: 20px;
    cursor: pointer;
}
.navList:hover{
    background-color: #d1d1d1bc;
}